// app global css
@import '~variables'

.mebackground
    background $blue-grey-2

.mecard
    width 280px

.meinput
    .q-input
        font-size 14px

@font-face
    font-family myFont
    src url(../assets/font/Judas.ttf)
